/* styles/carrossel.css */
.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .carrossel img {
   width: 100%;
   height: 200px;
   object-fit: cover; /* Isso vai manter a imagem com o aspecto correto, sem distorcer */
   margin: 0 auto;
   display: block; /* Isso vai garantir que a imagem fique centralizada */
  }
  
  .carrossel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .carrossel .anterior {
    left: 10px;
  }
  
  .carrossel .proximo {
    right: 10px;
  }
  