
.container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: ridge;
  }
  
  button {
    background-color: #0070f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  .status {
    margin-top: 20px;
    color: green;
  }
  
  textarea {
    height: 150px;
  }
  